:root {
    --color-light: hsl(200deg, 45%, 80%);
    --color-lighter: hsl(200deg, 45%, 90%);
    --color-lightest: hsl(200deg, 45%, 100%);
    --color-dark: hsl(200deg, 45%, 10%);
    --color-darker: hsl(200deg, 45%, 2%);
    --color-darkest: hsl(200deg, 45%, 0%);

    --color-magic-1: hsl(190, 80%, 50%);
    --color-magic-2: hsl(280, 80%, 50%);
    --color-magic-3: hsl(350, 80%, 50%);
}

.overlay {
    z-index: 1;
    pointer-events: none;
    background: radial-gradient(transparent, transparent, #1123, #112a);
    background-size: 100vmax 100vmax;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

main {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    user-select: none;
}

.text-blue {
    color: var(--color-magic-1);
}
.text-red {
    color: var(--color-magic-3);
}

.container {
    margin: 0 auto;
    width: 1050px;
    max-width: 100vw;
    padding: 0 1rem;
}

.container-title {
    position: absolute;
    top: 0;
}

.letter {
    cursor: grab;
    transition: 1s;
}
.letter:hover {
    transition: 0.1s;
    padding-left: 1.5rem;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.main-title-overline {
    font-size: 32px;
    font-weight: 700;
}

.main-description {
    margin-top: 240px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -0.05em;
    position: relative;
    font-style: italic;
}

.quote:first-child,
.quote:last-child {
    position: absolute;
    font-size: 144px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
}

.quote:first-child {
    top: 0px;
    left: -96px;
}

.quote:last-child {
    bottom: -48px;
    right: 0px;
}

.main-title {
    font-weight: 900;
    font-size: 96px;
    letter-spacing: -0.05em;
    line-height: 110px;
    background: -webkit-linear-gradient(
        0deg,
        var(--color-darker),
        var(--color-dark)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    margin: 0rem -2rem -2rem -2rem;
}

.text-gradient-magic {
    background: -webkit-linear-gradient(
        0deg,
        var(--color-magic-1),
        var(--color-magic-2),
        var(--color-magic-3)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-white {
    background: -webkit-linear-gradient(
        0deg,
        var(--color-magic-1),
        var(--color-magic-2),
        var(--color-magic-3)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 96px;
}

.logo-grid-elem {
    height: 72px;
    animation: logo-grid 2s ease-in-out infinite var(--logo-delay);
}

@keyframes logo-grid {
    0% {
        filter: grayscale(1);
        opacity: 0.75;
        transform: scale(0.98);
    }
    25% {
        filter: grayscale(1);
        opacity: 0.75;
        transform: scale(0.98);
    }
    50% {
        filter: grayscale(0) saturate(1);
        opacity: 1;
        transform: scale(1);
    }
    75% {
        filter: grayscale(0) saturate(1);
        opacity: 1;
        transform: scale(1);
    }
    100% {
        filter: grayscale(1);
        opacity: 0.75;
        transform: scale(0.98);
    }
}

.projet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    text-align: center;
}

.projet + .projet {
    margin-top: 144px;
}

.projet-carousel {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border-radius: 12px;
}
.projet-carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projet-title {
    font-weight: 700;
    letter-spacing: -0.05em;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 24px;
    color: var(--color-subtitle);
}

.projet-description {
    color: var(--color-paragraph);
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
}

.projet-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projet-technos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 48px;
}

.projet-technos-elem {
    height: 24px;
}

.projet-button {
    color: var(--color-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 42px;
    background: linear-gradient(
        -45deg,
        var(--color-lighter),
        var(--color-lightest),
        var(--color-lighter)
    );
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.projet-button a {
    text-decoration: none;
    color: var(--color-dark);
}

.projet-button:hover {
    padding: 18px 27px;
}

.projet-button-arrow {
    width: 0;
    opacity: 0;
    margin-right: 0;
    transition: 0.2s;
}

.projet-button:hover .projet-button-arrow {
    width: 6px;
    opacity: 1;
    margin-right: 24px;
}

@media screen and (min-width: 1000px) {
    .main-title {
        font-weight: 900;
        font-size: 144px;
        letter-spacing: -0.05em;
        line-height: 108px;
        background: -webkit-linear-gradient(
            0deg,
            var(--color-darker),
            var(--color-dark)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 2rem;
        margin: -1rem -2rem -2rem -2rem;
    }

    .letter {
        cursor: grab;
        transition: 1s;
    }
    .letter:hover {
        transition: 0.1s;
        padding-left: 2.5rem;
    }

    .projet {
        text-align: left;
        flex-direction: row;
        display: flex;
        height: 25rem;
    }

    .projet-carousel {
        height: 25rem;
        flex: 1 1 0px;
    }

    .projet-text {
        height: 100%;
        flex: 1 1 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .projet-carousel {
        width: 50%;
        flex-shrink: 0;
    }

    .projet-technos {
        justify-content: flex-start;
    }

    .projet:nth-child(2n) .projet-carousel {
        order: 1;
    }
}

.spacer {
    margin: 192px 0;
    border: none;
    height: 1px;
    background-color: var(--color-dark);
    width: 100%;
}

.contact {
    text-align: center;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-text {
    color: var(--color-light);
    width: 100%;
}

.contact-icon {
    height: 32px;
}
